<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord</title>
    <link rel="stylesheet" href="../public/css/dashboard.css">
</head>
<body>
    <div class="dashboard-container">
        <header class="topbar">
            <h1>Gestion de Projet - Tableau de Bord</h1>
        </header>

        <section class="stats">
            <div class="stat-card">
                <div class="icon tasks-icon"></div>
                <h2>Tâches</h2>
                <h4>Tache incomplete</h4>
                <p>12</p>
                <h4>tache complete</h4>
                <p>2</p>
                <h4>Total tache</h4>
                <p>13</p>
            </div>
            <div class="stat-card">
                <div class="icon users-icon"></div>
                <h2>Utilisateurs</h2>
                <p>10</p>
            </div>
            <div class="stat-card">
                <div class="icon projects-icon"></div>
                <h2>Projets</h2>
                <p>5</p>
            </div>
        </section>
    </div>
</body>
</html> -->
