<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Navigation</title>
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <aside class="sidebar">
        <h2>Page Utilisateur</h2>
        
        <ul>  
            <li class="menu-title">Menu</li>
            <li><a href="/dashboard"><i class="fas fa-home"></i> Tableau de bord</a></li>
            <li>
              <a href="/">
                  <i class="fas fa-project-diagram"></i> Mes projets
                  <span class="badge new">New</span>
              </a>
          </li>
            <li class="menu-title">Tasks</li>    
            <li>
              <a href="/notification"><i class="fas fa-bell"></i> Notifications <span class="badge red"> 4 </span></a>
          </li>
            <li class="menu-title">Settings</li>
            <li><a href="/profil"><i class="fas fa-user"></i> Profile</a></li>
            <li><a href="/parametre"><i class="fas fa-cog"></i> Parametre</a></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Se deconnecter</a></li>
        </ul>
        
    </aside>
</body>
</html>
