body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: white;
}

.trello-container {
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    color: black;
}

header button {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

header button:hover {
    background-color: #16a085;
}

.columns {
    display: flex;
    gap: 20px;
    width: 1000px;
    /* height: 100px;
    display: flex; */
    border-radius: 100px;
}

.column {
    background-color: #34495e;
    border-radius: 20px;
    padding: 10px;
    flex: 1;
}

.column h2 {
    margin-top: 0;
}

.ticket {
    background-color: white; /* Carte en blanc */
    color: black; /* Texte noir */
    padding: 10px;
    border-radius: 8px; /* Coin arrondi */
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    position: relative;
}

.three-dots {
    font-size: 20px;
    cursor: pointer;
}

.actions {
    display: none; /* Masquer le menu au départ */
    position: absolute;
    top: 0;
    right: 0;
    background-color: #34495e;
    border-radius: 5px;
    color: white;
    z-index: 10;
    padding: 5px;
}

.actions button {
    background: transparent;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #16a085; /* Couleur au survol */
}

.ticket .options:hover .actions {
    display: block; /* Afficher le menu lorsque la carte est survolée */
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    position: relative;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
#addTicketButton{
    justify-content:space-around;
    background-color: #343a40 ;
}
