
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    color: #333;
    position: relative;
    box-sizing: border-box;


  }
  
  .profile-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    justify-content: center;
    margin:auto
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF;
  }
  
  .profile-form .form-group {
    margin-bottom: 15px;
  }
  
  .profile-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .profile-form input,
  .profile-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .profile-form textarea {
    resize: none;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .save-btn {
    background-color: #007BFF;
    color: #fff;
  }
  
  .save-btn:hover {
    background-color: #0056b3;
  }
  
  .cancel-btn {
    background-color: #f44336;
    color: #fff;
  }
  
  .cancel-btn:hover {
    background-color: #c2362a;
  }
  .error-message {
    color: red; 
    font-weight: bold; 
    font-size: 0.8rem; 
    margin-top: 5px; 
    margin-bottom: 10px; 
  }
  .success-message {
    color: green; 
    font-weight: bold; 
    font-size: 1rem; 
    margin-top: 10px; 
    margin-bottom: 20px;
  }
  
  
  